@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');
/* font-family: 'Roboto', sans-serif; */

/*
colors and font styles
dark background color (hero and footer) #1F2937
Hero Main text ("this website is awesome") 48px extra-bold #F9FAF8
Hero Secondary text, Header Link Text 18px #E5E7EB
Header Logo Text 24px #F9FAF8
Button color, call to action background color #3882F6
information header text 36px extra-bold #1F2937
Quote section background color #E5E7EB
Quote text 36px light italic #1F2937 
*/

body {
    /*font-family:'Roboto', sans-serif;*/
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/*Header style*/
.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 8px;
}

.nav {
    display: flex;
    justify-content: space-around;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header ul {
    font-weight: 100;
    display: flex;
    list-style-type: none;
    gap: 12px;
}

/*header link style*/

a {
    color: #F9FAF8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*Hero Style */

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hero-left {
    width: 300px;
    height: auto;
}

.hero-left h1 {
    font-size: 48px;
    font-weight: bold;
}

hero-left p {
    font-size: 18px;
    color: #E5E7EB;
}


.hero-left button {
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 8px 30px 8px 30px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.1rem;
}

/* random info style */

.random {
    display: flex;
    flex-direction: column;
}

.image-container {
    display: flex;
}

.image-container div {
    padding: 50px;
    border: 1px solid red;
}

